# Static files and metadata
meta-share
metadata/static/collection.json
metadata/static/corpora.json
metadata/static/lexicons.json
metadata/static/models.json
metadata/static/resource-texts.json
json
.svn/
list-resources

# Editors
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
