# Custom config
config.py

# Static files and metadata
metadata
metadata_api/static/collection.json
metadata_api/static/corpus.json
metadata_api/static/lexicon.json
metadata_api/static/model.json
metadata_api/static/analysis.json
metadata_api/static/utility.json
metadata_api/static/resource-texts.json
logs
.svn/
list-resources

# Editors
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
