# Custom config
config.py

# Static files and metadata
metadata
metadata_api/static/*.json
logs
.svn/

# Editors
.vscode
*.code-workspace
.codex
.agents/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.pytest_cache/
/tests/assets/gen/

# MISC
.ruff_cache/
site/
docs/mkdocs/README.md
docs/.mkdocs-build.lock
