openapi: "3.0.3"

info:
  title: Språkbanken Text Metadata
  description: |
    This API provides a quick way to retrieve a list of resources (corpora, lexicons, models, analyses, and utilities)
    available at Språkbanken Text. It is used to display resources on [Språkbanken Text's
    website](https://spraakbanken.gu.se/en/resources).

    Most endpoints return lists of resources. Each resource is represented as a JSON object that adheres to the JSON
    schema available from the `/schema` endpoint.

    Some resources have detailed descriptions that are only displayed when using the `resource` parameter. For more
    information, please refer to the [GitHub repository](https://github.com/spraakbanken/metadata).
  version: "{{version}}"
  contact:
    name: Språkbanken
    url: https://spraakbanken.gu.se/
    email: sb-info@svenska.gu.se
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://ws.spraakbanken.gu.se/ws/metadata/v3
    description: Production server

tags:
  - name: Resource listing
    description: Endpoints for listing resources
  - name: MISC
    description: Miscellaneous endpoints

paths:
  /:
    get:
      summary: List resources
      description: Show metadata for all corpora, lexicons and models.
      tags:
        - Resource listing
      parameters:
        - name: resource
          in: query
          description: ID of the resource to display
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  corpora:
                    type: array
                    description: List of all corpora
                    items:
                      type: object
                  lexicons:
                    type: array
                    description: List of all lexicons
                    items:
                      type: object
                  models:
                    type: array
                    description: List of all models
                    items:
                      type: object
  /corpora:
    get:
      summary: List corpus resources
      description: Show metadata for all corpora.
      tags:
        - Resource listing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_type:
                    type: string
                    description: Name of the resource type
                  hits:
                    type: int
                    description: Amount of resources in 'resources' array
                  resources:
                    type: array
                    description: Array of corpus objects
                    items:
                      type: object
  /lexicons:
    get:
      summary: List lexicon resources
      description: Show metadata for all lexicons.
      tags:
        - Resource listing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_type:
                    type: string
                    description: Name of the resource type
                  hits:
                    type: int
                    description: Amount of resources in 'resources' array
                  resources:
                    type: array
                    description: Array of lexicon objects
                    items:
                      type: object
  /models:
    get:
      summary: List model resources
      description: Show metadata for all models.
      tags:
        - Resource listing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_type:
                    type: string
                    description: Name of the resource type
                  hits:
                    type: int
                    description: Amount of resources in 'resources' array
                  resources:
                    type: array
                    description: Array of model objects
                    items:
                      type: object
  /analyses:
    get:
      summary: List analysis resources
      description: Show metadata for all analyses.
      tags:
        - Resource listing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_type:
                    type: string
                    description: Name of the resource type
                  hits:
                    type: int
                    description: Amount of resources in 'resources' array
                  resources:
                    type: array
                    description: Array of analyses objects
                    items:
                      type: object
  /utilities:
    get:
      summary: List utility resources
      description: Show metadata for all utilities.
      tags:
        - Resource listing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_type:
                    type: string
                    description: Name of the resource type
                  hits:
                    type: int
                    description: Amount of resources in 'resources' array
                  resources:
                    type: array
                    description: Array of utilities objects
                    items:
                      type: object
  /collections:
    get:
      summary: List collection resources
      description: Show metadata for all collections.
      tags:
        - Resource listing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hits:
                    type: int
                    description: Amount of resources in 'resources' array
                  resources:
                    type: array
                    description: Array of collection objects
                    items:
                      type: object
  /schema:
    get:
      summary: Return JSON schema for resource metadata
      description: Show metadata schema for resources.
      tags:
        - MISC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Metadata schema for resources
  /list-ids:
    get:
      summary: List resource IDs
      description: List all existing resource IDs.
      tags:
        - MISC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: Array of resource IDs
  /check-id-availability:
    get:
      summary: Check availability of a resource ID
      description: Check whether a given resource ID is in use or not.
      tags:
        - MISC
      parameters:
        - name: id
          in: query
          description: Resource ID to check
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: str
                    description: The input ID
                    example: my-corpus
                  available:
                    type: boolean
                    description: States whether the ID is available
  /bibtex:
    get:
      summary: Return bibtex citation as text
      description: Create a bibtex record for the resouce passed as parameter.
      tags:
        - MISC
      parameters:
        - name: resource
          in: query
          description: ID of the resource to create bibtex for
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  bibtex:
                    type: string
                    description: BibTeX citation string
                  error:
                    type: string
                    description: Error message if argument is incorrect or program error.
                    default: ""
  /renew-cache:
    get:
      summary: Renew cache
      description: Flush the cache and re-read all json files.
      tags:
        - MISC
      parameters:
        - name: resource-paths
          in: query
          description: Paths to specific resources to parse and update (<resource_type/resource_id>,...).
          schema:
            type: string
            example: corpus/attasidor
        - name: debug
          in: query
          description: Print debug info while parsing YAML files
          schema:
            type: boolean
        - name: offline
          in: query
          description: If set to true, skip getting file info for downloadables when parsing YAML files
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cache_renewed:
                    type: boolean
                    description: States whether the cache renewal was successful
                  errors:
                    type: string
                    description: Any error messages that occurred during the cache renewal
                    default: null
                  warnings:
                    type: string
                    description: Any warnings that occurred during the cache renewal
                    default: null
                  info:
                    type: string
                    description: Debug messages or other information
                    default: null
  /doc:
    get:
      summary: Serve API specification
      description: Serve openAPI specification as json data.
      tags:
        - MISC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: OpenAPI specification in JSON format
